{% extends 'base.html' %}

{% block content %}    
    <br>
    <div class="title container text-center">
        <h1>Steganography Your Image <a href="{{ url_for('home') }}" style= "text-decoration: none">&#128521;</a></h1>
        <br>
    </div>
    
    <div class="container text-center border border-secondary p-5">
        <a href="{{url_for('upload')}}" class="btn btn-outline-success">Encode</a>
        <a href="{{url_for('decode') }}" class="btn btn-outline-dark">Decode</a>
        <br><br>

        {% if encoded %}
            <div class="encoded_img">
                <img src="{{url_for('output_image')}}" alt="encoded image" height="300px" width="300px" style="object-fit: cover;">
                <br><br><br>
                <a href="{{ url_for('download_files') }}" class="btn btn-success">Download</a>
            </div>
        {% endif %}
        {% if decoded %}
            <div class="decoded-img">
                <br><br>
                <h3><b>Your Decoded Message</b> 🕵🏻</h3>
                <h5 class = 'text-success'>--- {{ data }} ---</h5>
            </div>
        {% endif %}
    </div>
    
{% endblock %}